@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;400&display=swap');

* {
  font-family: 'Noto Serif Display', serif;
}

::selection {
  color: white;
  background-color: black;
}


body {
  /* padding: 3% 7%; */
  /* min-height: 80vh; */
}

.name {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

.name:hover {

}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.navbar {
  margin: 3% 7%;
}

.weather-container {
  min-height: 60vh;
  margin: auto;
  position: relative;
  display: block;
  top: 50%;
}

.footer {
  margin: auto;
  min-height: 15vh;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 300;
  
}

.footer-text {
  position: relative;
  top: 50%;
}

.temperature {
  font-size: 10rem;
  font-weight: 300;
}

.location {
  font-size: 4rem;
  font-weight: 300;
}

.weather-box {
  background-color: black;
  border-radius: 1.2rem;
  min-height: 100%;
  width: 100%;
}

.weather-container-left {
  display: block;
}